/*
    GLOBAL
*/
* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}

body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'open sans', sans-serif;
    font-size: 1rem;
}
ul li {
    list-style-type: none;
}
header, footer {
    background: #f6d258;
    color: white;
    position: relative;
}

h2 {
    font-family: 'Indie FLower';

}
container {
    display: block;
    margin: 0 3em;
}

main {
    background: #F2F2F2;
}

main section {
    background: white;
}

/*
    HEADER
*/
header div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
header ul {
    display: flex;
    text-align: center;
    flex-flow: row;
    justify-content: space-between;
    padding: 1rem 0;
    flex-basis: 100%;
    text-transform: uppercase;
    font-size: .85rem;
    text-shadow: 0 0 5px rgba(0,0,0,.1);
}
header ul li {
    background: rgba(255,255,255,0);
    transition: background 400ms ease;
}
header ul li:hover {
    background: rgba(255,255,255,.3);
    transition: background 200ms ease;
}
.aze i {
    border-radius: 35px;
    border: 1px solid rgba(255,255,255,.65);
    color: rgba(255,255,255,.65);
    padding: .5rem;
    margin-right: .5rem;
}
.header--promo {
    background: #e0bf42;
    text-align: center;
    font-size: .75rem;
    padding: .25rem;
}

header a img {
    width: 20rem;
}
header a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    padding: 1rem;
}

/*
    MAIN
*/
main {
    margin: 0 3rem;
}
main section {
    background: white;
    margin: 3rem auto;
    padding: 1rem;

}

main .main-liste--header h1 {
    border-bottom: 1px solid rgba(176,144,103,.3);
    padding-left: 1rem;
}
main .main-liste--header p {
    padding-left: 1rem;
}

main .trioElem{
    display: flex;
    justify-content: space-between;
}

main .trioElem img {
    width: 100%;
}

main .trioElem article {
    padding: 1rem;
    text-align: center;
}
main .trioElem article a {
    padding: 1rem;
    background: #7ada91;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

main .trioElem article p:nth-child(even) {
    margin-bottom: 3rem;
    margin-top: -1rem;
    font-size: 1.5rem;
}
main .trioElem .list_price {
    font-family: 'Indie Flower';
}
main .main-liste--header{
    display: flex;
    justify-content: stretch;
    align-items: center;
}

/*
    FOOTER
*/
footer a {
    text-decoration: none;
    color: inherit;
}
footer a:hover {
    color: white;
}
footer section {
    display: flex;
    justify-content: space-around;
}
footer section article {
    text-align: center;
    padding: 1rem;
}
footer ul.footer--infos {
    background: #e0bf42;
    color: rgba(255,255,255,.75);
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    text-align: center;
    text-transform: uppercase;
    font-size: .75rem;
}
footer ul.footer--infos i {
    display: block;
    font-size: 1.5rem;
    padding-bottom: .5rem;
}

footer ul {
    padding: 0;
    color: rgba(255,255,255,.75);
    margin-bottom: 3rem;
}
footer ul li {
    padding: .15rem;
}


/*
    MEDIA QUERIES
*/

/* largeur max de 1100px */
@media (min-width: 1100px) {
    /*
        GLOBAL
    */
    container {
        display: block;
        max-width: 1100px;
        margin: auto;
    }
}

/* TABLETTE > 480px < 768px */
@media (min-width: 480px) and (max-width: 768px) {
    /*
        GLOBAL
    */
    container {
        margin: 0 .5em;
    }
    /*
      MAIN
    */
    main .main-liste--header img {
      display: none;
    }
    main .trioElem {
      flex-flow: column;
    }
    main .trioElem article {
    width: 75%;
    margin: auto;
  }

}

/* MOBILE < 480px */
@media (max-width: 480px) {
    /*
        GLOBAL
    */
    container {
        display: block;
        margin: 0;
    }

    /*
        HEADER
    */
    .aze i {
        border: 1px solid rgba(255,255,255,.65);
        color: rgba(255,255,255,.65);
    }
    .aze {
        border-radius: 0 35px 35px 0;
        box-shadow: 0 0 10px rgba(0,0,0,.1);
        padding: .5em .75em;
    }

    header a {
        align-self: center;
    }
    header div {
        display: flex;
        flex-flow: column-reverse;
        justify-content: space-between;
        align-items: baseline;
    }
    header ul {
        display: flex;
        text-align: center;
        flex-flow: column;
        justify-content: space-between;
        padding: 1rem 0;
        flex-basis: 100%;
        margin: auto -3rem;
    }
    /*
      MAIN
    */
    main .main-liste--header img {
      display: none;
    }
    main .trioElem {
      flex-flow: column;
    }
    /*
        FOOTER
    */
    footer > ul {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }
    footer > ul li {
        padding: .5rem
    }

    footer section {
        display: flex;
        flex-flow: column;
    }
}




h1, h2{
  font-family: 'Indie Flower';
  color: grey;
}

.Titre{
  display:inline-block ;

}

main .rating{
  display: inline-block;
  height: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: left;
}
.rating .checked{
  color: #f2b01e;
}
.rating .unchecked{
  color: #9e9e9e;
}

}
.price{
  text-align: right;
  font-family: 'Indie Flower';
  margin-right: 60px;
}
